<div class="ui middle aligned center aligned grid">
  <div class="column">
    <form name="form" class="ui form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
      <div class="ui segment">

        <h2 class="ui icon header blue">
          <i class="fas fa-spell-check large text"></i>
          <div class="content">
            MyDictionary
            <div class="sub header">自分で作る辞書システム</div>
          </div>
        </h2>    

        <div class="field">
          <div class="ui fluid input error" [ngClass]="{'error':form.get('email').touched && form.get('email').invalid}">
            <input type="text" placeholder="E-mail" formControlName="email" />
          </div>
          <div *ngIf="form.get('email').touched && form.get('email').invalid"  class="invalid-feedback">
            <div class="ui pointing label" *ngIf="form.get('email').errors.required">Email Name is required</div>
            <div *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>
          </div>
        </div>

        <div class="field">
          <div class="ui input error">
            <input type="password" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
          </div>
          <div *ngIf="form.get('password').touched && form.get('password').invalid" class="">
            <div *ngIf="form.get('password').errors.required">Password is required</div>
            <div *ngIf="form.get('password').errors.minlength">Password  must be a letaset 6 charector</div>
          </div>
        </div>

        <div class="field">
          <div class="ui input error">
            <input type="moj" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
          </div>
          <div *ngIf="form.get('password').touched && form.get('password').invalid" class="">
            <div *ngIf="form.get('password').errors.required">Password is required</div>
            <div *ngIf="form.get('password').errors.minlength">Password  must be a letaset 6 charector</div>
          </div>
        </div>

          <button type="submit" class="ui button fluid large blue" [disabled]="!form.valid">Register</button>

      </div>
    </form>
    <div class="ui message">
      New to us? <a href="/page">Sign Up</a>
    </div>
  </div>
</div>
