<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="ui form">
      <div class="ui segment">

        <h2 class="ui icon header blue">
          <i class="fas fa-spell-check large text"></i>
          <div class="content">
            MyDictionary
            <div class="sub header">自分で作る辞書システム</div>
          </div>
        </h2>    

        <div class="field">
          <input type="text" name="email" placeholder="E-mail">
        </div>

        <div class="field">
          <input type="password" name="password" placeholder="Password">
        </div>

        <a class="ui button fluid large blue" routerLinkActive="active" routerLink="/page">Login</a>

      </div>
      <div class="ui error message"></div>
    </div>
    <div class="ui message">
      New to us? <a href="#">Sign Up</a>
    </div>
  </div>
</div>
