<div class="ui middle aligned centered grid">
  <div class="column">
    <form name="form" class="ui form segment" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">

        <h2 class="ui icon header blue middle aligned">
          <i class="fas fa-spell-check large text"></i>
          <div class="content">
            MyDictionary
            <div class="sub header">自分で作る辞書システム</div>
          </div>
        </h2>    

        <div class="field">
          <label>メールアドレス</label>
          <div class="ui input">
            <input type="text" placeholder="メールアドレス" formControlName="email" />
          </div>
        </div>

        <div class="field">
          <label>パスワード</label>
          <div class="ui input" >
            <input type="password" placeholder="パスワード" formControlName="password"/>
          </div>
          <div *ngIf="form.get('password').touched && form.get('password').invalid" class="">
          </div>
        </div>

        <div class="ui negative message" *ngIf="( form.get('email').touched && form.get('email').invalid ) || ( form.get('password').touched && form.get('password').invalid )">
          <ul class="list" *ngIf="form.get('email').touched && form.get('email').invalid" >
            <li *ngIf="form.get('email').errors.required" >メールアドレスを入力してください</li>
            <li *ngIf="form.get('email').errors.email" >メールアドレスの形式が正しくありません</li>
          </ul>
          <ul class="list" *ngIf="form.get('password').touched && form.get('password').invalid">
            <li *ngIf="form.get('password').errors.required">パスワードを入力してください</li>
            <li *ngIf="form.get('password').errors.minlength">パスワードは６文字以上入力してください</li>
          </ul>
        </div>
        <button type="submit" class="ui button fluid large blue" [disabled]="!form.valid">ログイン</button>

    </form>
    <div class="ui message">
      New to us? <a href="/page">Sign Up</a>
    </div>
  </div>
</div>
